@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .chat-container::-webkit-scrollbar-thumb {
        width: 2px;
    }
    textarea, div[contenteditable]:focus{
        outline: none;
    }
    /* tailwindcss 影响了antd icon样式, 这里cover */
    svg {
        display: inline;
        vertical-align: baseline;
    }
}
